a {
  display: inline-block;
  position: relative;
}

a:hover img {
  transform: scale(1.1); /* Increase the size of the image on hover */
}

a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease; /* Add a fade-in transition */
}

a:hover::after {
  opacity: 1; /* Show the background on hover */
}

img {
  max-width: 100%;
  height: auto;
  overflow: auto;
}

a[href^="https://mywebsitename.github.io"] {
  color: transparent; /* Make the link text invisible */
  text-decoration: none; /* Remove the underline if present */
}

h2 {
  display: none; /* Hide the 'Your Content' heading */
}
